<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>BeautifyImages&Guess</title>
    <link rel="shortcut icon" th:href="@{/static/icon.ico}"/>
    <link rel="bookmark" th:href="@{/static/icon.ico}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}"/>
</head>
<body>
<div id="background">
    <h4>@Author: BeiwenZhang</h4>

    <div id="div_p1">
        <img class="except_img" th:src="@{/img/p1.jpg}"/>
    </div>
    <div id="div_input">
        <h1>越权操作</h1>
    </div>





</div>

</body>
</html>